:root {
  --gray: #cccccc;
  --gray-300: #cdcdcd;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: #0076ff;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  border-bottom: 1px solid #0076ff;
}

h1 {
  margin-top: 0;
}

table {
  border-collapse: collapse;

  td,
  th {
    border: 0;

    padding: 0.5rem;
  }
}

.position-relative {
  position: relative;
}

.overflow-x {
  overflow-x: auto;
}
